.initial-h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    padding-bottom: 9rem;
    
}
body {
    background-image: url("/assets/images/quiz-background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 96vh;
    background-attachment: fixed;
}